.Item {
    display: inline-block;
    border: 1px solid #ececec;
    font-size: .9rem;
    border-radius: 10px;
    overflow: hidden;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    cursor: pointer;
    position: relative;
}

.Item:hover {
    transform: scale(1.1);
}

.Item img {
    width: 301px;
    height: 281px;
    object-fit: cover;
}

.Item__detail {
    padding: 10px;
    display: flex;
    flex-flow: column;
}

.Item__detail p {
    line-height: 1.8;
}

.Item__price {
    font-weight: 700;
}

.Item__description {
    color: #616161;
}


.Item__title {
    font-weight: bolder;
}

.button--open {
    background-color: rgb(0, 0, 0);
    color: white;
    align-self: center;
    font-size: .9em;
    padding: 9px;
    border-radius: 5px;
}

.button--open a {
    text-decoration: none;
    color: white;
}

.icon__favorite {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 1.5em;
}
