.Checkout {
    margin-top: 20px;
    padding-bottom: 100px;
}

.Checkout-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
    padding-bottom: 250px;
}
