header {
    font-size: 1.1rem;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.logo {
    align-self: center;
    font-family: poppins;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(27, 115, 204);
    padding: 20px 0px;
}

.logo__text {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight:900;
}


.header__container {
    display: flex;
    align-items: center;
}

.header__categories ul li {
    list-style: none;
    display: inline-block;  
    margin: 0px 10px;  
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 1px;
    cursor: pointer;
    margin: 0 30px;
}

.header__categories ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}

.header__bar {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 20px;
}

.avatar {
    display: inline-block;
    padding: 0 20px;
}

.avatar:hover {
    cursor: pointer;
}

.message {
    width: 100%;
    background: #000;
    color: white;
    display: flex;
    padding: 10px;
    justify-content: center  ;
    font-size: .9em;
}