@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.header {
  font-family: 'Inter', sans-serif;
}

.logo {
  margin-right: 10px;
}

.header__mode {
  align-self: center;
  font-size: 1.4rem;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.header__container {
  margin: 0 auto;
  padding: 1px 5px;
  display: flex;
  justify-content: space-between;
}

.header__group {
  align-self: center;
  display: flex;
  flex-flow: row;
  gap: 20px;
  align-items: center;
}

.header__bar input {
  width: 300px;
  /* height: 42px; */
  padding: 7px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  outline: none;
}

.header__bar button {
  border: none;
  border-radius: 5px;
  align-self: center;
  background: none;
  color: black;
}

.bar__search {
  padding: 6px;
  color: rgb(83, 83, 83);
}

.cart {
  background: black;
  padding: 7px;
  font-size: .8rem;
  border-radius: 15px;
  color: white;
  width: 100px;
  text-align: center;
}

.cart .cart__counter {
  margin-left: 2px;
}


.hide-logo
{
  display: none;
}

.hide {
  display: none;
}

/* todo */
@media (min-width: 768px) {}
/* 
@media (max-width: 892px) {
 .header__categories {
    position: absolute;
    background: palevioletred;
    height: 100vh;
    z-index: 1;
    padding: 36px;
    top: 0;
  }
 

  .header__categories ul li {
    display: block;
    margin-top: 30px;
  }

  .menu-icon {
    display: block;
  }
  

} */

@media (max-width: 1200px) {
  .hedaer__finder {
    display: none;
  }
}